@font-face {
    font-family: 'Press Start 2P';
    src: url('../fonts/PressStart2P-Regular.ttf') format('truetype');
}

.nav-tabs {
    background-color: black;
    color: white;
}

.nav-link {
    text-decoration: none;
    color: white !important;
}


.nav-link.active {
    background-color: transparent;
    color: black !important;
}


.nav-link:focus,
.nav-link:hover {
    transform: translateY(-3px);
    text-decoration: none;
    outline: none;
}